body {
    font-family: helvetica, arial, sans-serif;
}
h1 {
    color: #a72c07;
  text-align: center;
}

#gg {
    color: green;
}
#aa {
    color: rgb(109, 128, 0);
    text-align: left;
}
#tablero-izquierdo{
    background-color: #91837e;
    width: 25%;
    position: absolute;
    height: 100%;
    padding: 10px;
    left: 0px;
  }
  #tablero-derecho {
    width: 25%;
    position: absolute;
    height: 175%;
    padding: 10px;
    right: 0px;
  }  
  .contenedor {
    position: relative;
    height: 6%;
   }
  
  .contenedor2 {
    position: relative;
    height: 18%;
    left: -10px;
  }
  
  .reducido {
    height: 4%;
  }
  
  .componente {
    position: absolute;
    max-width: 50%;
    max-height: 100%;
    z-index: 3;
  }
  
  .producto {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
  }
  .layout {
    height: 80%;
    width: 45%;
    border: 2px solid #3a241d;
    border-radius: 1rem;
    position: absolute;
    opacity: 0.5;
    z-index: 1;
    margin: auto;
    left: 0px;
    right: 0px;
  }
  
  .rotulo {
    width: 45%;
    height: 5%;
    background: #C4D7E0;
    position: absolute;
    opacity: 0.7;
    z-index: 1;
    margin: auto;
    left: 0px;
    right: 0px;
    border-radius: 1em 1rem 0px 0px;
    text-align: center;
    color: #3a241d;
  }
  
  .titulo {
    position: relative;
    display: inline;
    top: 0.5rem;
  }